@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>This demo is to showcase the following features in <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a></p>
<ul>
	<li>
		Notes
	</li>
	<li>
		Weather
	</li>
</ul>
